<div class ="title-container">
	<div class ="row">
		<h3 class ="col-lg-12">お問い合わせありがとうございました</h3>
		<p class ="col-lg-12">お問い合わせの内容に関しましては、後程ご連絡を差し上げます。</p>
		<%= link_to root_path do %>
			<button type="button" class="btn btn-primary">戻る</button>
		<% end %>
	</div>
</div>
