// Place all the styles related to the admin/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 管理者　会員一覧　*/
.admin-body-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: white;
	border-radius: 25px;
	padding:20px;
}
.admin-title-container {
	width: 100% ;
	height: auto;
	margin: 50px auto 0 auto;
	color:white;
	text-align: center;
}
/* ------------ */