<div class ="row">
	<div class ="text-center col-xs-10 col-xs-offset-1">
		<p class ="flash-text"><%= flash[:notice] %></p>
	</div>
</div>
<!----- 画像スライド ----->
<div class="slide-img-container">
	<div class="theTarget">
	  <div class="basketball-image"></div>
	  <div class="girl-image"></div>
	  <div class="team-image"></div>
	</div>
</div>
<!----------------------->
