<div class ="row">
	<div class ="text-center col-lg-10 col-lg-offset-1" style ="color:white;">
		<p><%= flash[:notice] %></p>
	</div>
</div>
<div class="slide-img-container">
	<div class="theTarget">
	  <div style="background-image: url('images/basketball-1081882_1920.jpg')"></div>
	  <div style="background-image: url('images/girl-171207_1280.jpg')"></div>
	  <div style="background-image: url('images/team-5119187.jpg')"></div>
	</div>
</div>
