// Place all the styles related to the member/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------- 会員詳細ページ -------　*/
.show-member-container {
	width: 500px;
	height: auto;
	margin: 0 auto;
	color:white;
		.gear-icon {
			color: white;
		}
		.gear-icon:hover{
			color: #E5FF64;
		}
		.heart-icon {
			position: relative;
			bottom: 5px;
			right: 10px;
			color: #fa8072;
		}
		.camera-icon {
			position: relative;
			bottom: 5px;
			right: 5px;
			color: #E6E6E6;
		}
		span {
			font-size: 5px;
			color: white;
		}
}
.show-posts-container {
	width: 100%;
	height: auto;
	margin: 20px auto ;
		.post-image {
			margin-bottom: 20px;
			opacity: 1;
		}
		.post-image:hover {
			opacity: 0.7;
		}
}
/* ------------------------------　*/










