// Place all the styles related to the member/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 共通　*/
.member-image {
	border-radius: 50%;
}
.button {
	text-align: center;
}

/* 会員編集　*/
.edit-member-container {
	width: 500px;
	height: auto;
	margin: 0 auto 50px auto;
	background-color: white;
	border-radius: 25px;
	padding:20px;
}
.edit-text-container {
	width: 500px;
	height: auto;
	margin: 50px auto 0 auto;
	color:white;
	text-align: center;
}

/* 会員一覧　*/
.index-member-container {
	width: 500px;
	height: auto;
	margin: 0 auto;
	background-color: white;
	border-radius: 25px;
	padding:20px;
}
.index-text-container {
	width: 500px;
	height: auto;
	margin: 50px auto 0 auto;
	color:white;
	text-align: center;
}

/* 会員詳細　*/
.show-member-container {
	width: 500px;
	height: auto;
	margin: 0 auto;
	color:white;
}
.show-text-container {
	width: 500px;
	height: auto;
	margin: 50px auto 0 auto;
	color:white;
	text-align: center;
}
.gear-icon {
	color:white;
}













