// Place all the styles related to the member/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-container {
	width: 500px;
	height: auto;
	margin: 0 auto;
	color:white;
	text-align: center;
		.icon {
			position: relative;
			top: 25px;
		    right: 30px;
		    color: white;
		}
		.icon:hover {
			color: #E5FF64;
		}
}
.body-container {
	width: 500px;
	height: auto;
	margin: 0 auto 50px auto;
	background-color: white;
	border-radius: 25px;
	padding:20px;
}
/*  新規投稿　*/
.image-squar {
	margin-bottom: 10px;
}
.post-form {
	margin-top: 10px;
}

/*  投稿一覧　*/
.posts-container {
		.post-image {
			text-align: center;
			margin-bottom: 20px;
			opacity: 1;
		}
		.post-image:hover {
			opacity: 0.7;
		}
		.member-image {
			margin: 0 10px 5px 0;
			border-radius: 50%;
		}
		.member-name {
			color: white;
		}
		a {
			color: white;
		}
		a:hover {
			color: #E5FF64;
		}

}
/* ---------*/

/* 投稿詳細 */
.show-post-image {
	text-align: center;
	margin-bottom: 10px;
}
.middle-box {
	margin-bottom: 20px;
}
.post-text {
	margin-top: 5px;
}


