// Place all the styles related to the member/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -----------  投稿一覧画面 ------------ */
.posts-container {
		.post-image {
			text-align: center;
			margin-bottom: 20px;
			opacity: 1;
			width: 100%;
		}
		.post-image:hover {
			opacity: 0.7;
		}
		.member-image {
			margin: 0 10px 5px 0;
			border-radius: 50%;
		}
		.member-name {
			color: white;
		}
		a {
			color: white;
		}
		a:hover {
			color: #E5FF64;
		}
}
/* --------------------------------- */

/*------------ 投稿詳細画面 ---------- */
.middle-box {
	margin-bottom: 20px;
}
.post-text {
	margin-top: 5px;
}
/* --------------------------------- */
