// Place all the styles related to the member/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------- Q＆A入力フォーム ---------- */
.body-container {
	.member-image {
		margin-right: 10px;
	}
	p {
		margin: 10px 0;
	}
	span {
		font-weight: bold;
	}
	.question-notice-text {
		font-size: 12px;
		width:200px;
		background:linear-gradient(transparent 60%, #E5FF64 60%);
	}
	.question-text {
		margin-bottom: 20px;
	}
}

.title-container {
		.question-btn {
			margin-bottom: 10px;
		}
		p {
			font-size: 20px;
		}
		a {
			color: black;
		}
		a:hover {
			color: black;
		}
}
/* ------------------------------------ */