<div class ="container">
	<div class ="index-text-container">
		<div class ="row">
			<h2 class ="col-lg-10 col-lg-offset-1">Notice</h2>
		</div>
	</div>
	<div class ="index-member-container">
		<div class ="row">
			<div class ="col-lg-10 col-lg-offset-1">
				<% notifications = @notifications.where.not(notify_id: current_member.id) %>
				<% if notifications.exists? %>
					<%= render notifications %>
					<%= paginate notifications %>
				<% else %>
					<p>通知はありません</p>
				<% end %>
			</div>
		</div>
	</div>
</div>