<div class ="container">
	<div class ="show-text-container">
		<div class ="row">
			<h2 class ="col-lg-10 col-lg-offset-1">UserDetail</h2>
		</div>
	</div>
	<div class ="show-member-container">
		<div class ="row">
			<div class ="col-lg-10 col-lg-offset-1">
				<div class ="row">
					<div class ="col-lg-4">
				 		<%= attachment_image_tag @member, :image, :fill, 100,100, class: "member-image col-lg-12", fallback: "cropped-noimage.jpg"%>
					 </div>
					 <div class ="col-lg-7">
					 	<%= @member.user_name%><br>
					 	<%= @member.introduction %>
					 </div>
					 <div class ="col-lg-1">
						<% if current_member.id == @member.id %>
							<div class="row new_item_submit">
			                	<%= link_to edit_member_member_path(current_member) do %>
			                		<i class="fa fa-cog fa-2x gear-icon" aria-hidden="true"></i>
			                	<% end %>
			            	</div>
		            	<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
