<!----- 投稿内容編集時エラー文 ----->
<% if @post.errors.any? %>
  <div class ="error-box">
  	<h4><span><i class="fas fa-exclamation-circle"></i></span>入力に不備がありますご確認ください</h4>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>